---
title: Blog
---
<div class="slogan">
  「Welcome to Yuqi's Planet」
</div>

<ul>
  <div class="blog-info">
    {% assign count = 0 %}
    {% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count = count | plus: single_count %}
    {% endfor %}
  
    {{ site.posts.size }} Articles
    
    {% if count > 1000 %}
    {{ count | divided_by: 1000 }},{{ count | modulo: 1000 }} Words
    {% else %}
    {{ count }} Words
    {% endif %}
  </div>

  {% for post in site.posts %}
  <li class="post-item">
    <a class="post-item-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="post-item-desc">
        {{ post.content | strip_html | truncate: 80, " ..." }}
      </div>
    </a>
    <div class="post-item-info">
      <div class="tag-bar">
        {% for category in post.categories %}
        <a href="{{ site.url }}/category.html#{{ category }}">
          <div class="tag-name">
            {{ category }}
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="more-info-bar">
        <div class="post-item-wc">
          {% assign word_counter = post.content | strip_html | strip_newlines | remove: " " | size %}
          {% if word_counter > 1000 %}
          {{ word_counter | divided_by: 1000 }},{{ word_counter | modulo: 1000 }} Words
          {% else %}
          {{ word_counter }} Words
          {% endif %}
        </div>
        <div class="post-item-date">
          {{ post.date | date_to_string }}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>