---
title: Blogs
---
<main class="container">

  <div class="slogan">
    「Welcome to Yuqi's Planet」
  </div>

  <div class="blog-summary">
    {% assign count = 0 %}
    {% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count = count | plus: single_count %}
    {% endfor %}

    {{ site.posts.size }} Articles

    {% if count > 1000 %}
    {{ count | divided_by: 1000 }},{{ count | modulo: 1000 }} Words
    {% else %}
    {{ count }} Words
    {% endif %}
  </div>

  {% for post in site.posts %}
  <li class="post-box">
    <a class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="abstract">
        {{ post.content | strip_html | truncate: 80, " ..." }}
      </div>
    </a>
    <div class="info-bar">
      <div class="tag-bar">
        {% for category in post.categories %}
        <a href="{{ site.url }}/archives.html#{{ category }}">
          <div class="tag-name">
            {{ category }}
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="detail-bar">
        <div class="post-wc">
          {% assign word_counter = post.content | strip_html | strip_newlines | remove: " " | size %}
          {% if word_counter > 1000 %}
          {{ word_counter | divided_by: 1000 }},{{ word_counter | modulo: 1000 }} Words
          {% else %}
          {{ word_counter }} Words
          {% endif %}
        </div>
        <div class="post-date">
          {{ post.date | date_to_string }}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}

</main>