<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<!-- <script type="text/javascript" src="/assets/js/md5.min.js"></script> -->
<div id="gitalk-container"></div>
<script type="text/javascript">
    const gitalk = new Gitalk({
        // gitalk的主要参数
        clientID: '09f241a9cc2e1a00df46',
        clientSecret: '599353d0e49ac81733977f0bcd0ec4c1edae5e6f',
        repo: 'https://oneforalone.github.io.git',
        owner: 'oneforalone.github.io',
        admin: ['oneforalone'],
        id: location.pathname,
        distractionFreeMode: false

    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
