@charset utf-8;

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #333;
    background-color: #FFF;
    
    justify-content: center;

}

body {
    margin: 0 auto;
    width: 980px;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
    margin-top: 40px;
}

a {
  color: #AAA;
  text-decoration: none;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.slogan {
  font-size: 23px;
  text-align: center;
  color: #84B4B4;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog-info {
  display: flex;
  justify-content: flex-end;
  color: #AAA;
  font-size: 11px;
  margin-left: 40px;
  margin-right: 40px;
}

.post-item {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEE;
}

.post-item-title {
  text-decoration: none;
  font-size: 21px;
  color: #333;
}

.post-item-desc {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 26px;
  color: #666;
}

.post-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.more-info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-item-date {
  color: #AAA;
  font-size: 11px;
  text-align: right;
}

.post-item-wc {
  color: #AAA;
  font-size: 11px;
  margin-right: 10px;
}

.tag-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-name {
  color: #999;
  font-size: 11px;
  height: 17px;
  position: relative;
  background: #EFEFEF;

  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #AAA;
  text-decoration: none;
}

a:hover {
  color: #57BF7D;
}

.archives-body {
  display: flex;
  width: 980px;
  flex-direction: column;
}

.archives-container {
  width: 100%;
  top: 100px;
}

.archive-group {
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-title {
  font-size: 27px;
  color: #333;
  margin-bottom: 20px;
}

.archive-item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 17px;
}

.archive-item a {
  color: #666;
}

.archive-item a:hover {
  color: #73BC83;
}

.tag-box {
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid #eee;
}

.tag-box > ul {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
}

.tag-box .tag {
  display: block;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 7px 7px 10px;
  background-color: #999;
}

.tag-box a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.tag-box a:hover {
  background-color: #333;
}

