---
layout: default
---

<div class="post container">
  <div class="post-title">
    {{ page.title }}
  </div>
  <div class="post-tag-bar">
    <p></p>
    <div class="tag-name-area">
    {% for category in page.categories %}
    <a class="tag-name" href="{{ site.url }}/category.html#{{ category }}">
      {{ category }}
    </a>
    {% endfor %}
    </div>
    <p></p>
  </div>
  <div class="post-info-bar">
    {{ page.date | date_to_string }}

    {% assign word_counter = page.content | strip_html | strip_newlines | remove: " " | size %}
    {% if word_counter > 1000 %}
    {{ word_counter | divided_by: 1000 }},{{ word_counter | modulo: 1000 }} Words
    {% else %}
    {{ word_counter }} Words
    {% endif %}
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</div>
